/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
  /* colors */
  --clr-white: 0, 0%, 100%;
  --clr-soft-white: 0, 0%, 95%;
  --clr-orange: 31, 77%, 52%;
  --clr-drk-cyan: 184, 100%, 22%;
  --clr-xtr-drk-cyan: 179, 100%, 13%;
  /* fonts */
  --ff-body: 'Lexend Deca', sans-serif;
  --ff-heading: 'Big Shoulders Display', cursive;
  /* typography */
  --fs-body: 0.938rem;
  --fs-heading: 2.5rem;
}

/* ======================== */
/* Reset and General Styles */
/* ======================== */

html {
  font-size: 100%;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Utility classes */

.flex {
  display: flex;
}

.container {
  max-width: 920px;
  margin-inline: auto;
  padding: 5rem 1.5rem;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 48em) {
  .container {
    flex-direction: row;
    align-items: stretch;
    margin-top: 5rem;
    padding: 0;
  }
}

/* General Styles */

.sedan {
  background: hsl( var(--clr-orange));
  border-radius: 0.5rem 0.5rem 0 0;
}

.suv {
  background: hsl( var(--clr-drk-cyan));
}

.luxury {
  background: hsl( var(--clr-xtr-drk-cyan));
  border-radius: 0 0 0.5rem 0.5rem;
}

.card {
  padding: 3rem 3rem;
  max-width: fit-content;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
}

.card-content h2,
.card-content p {
    color: hsl( var(--clr-white));
}

.card-content h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: 700;
  text-transform: uppercase;
  color: hsl( var(--clr-soft-white));
}

.card-content p {
  max-width: 45ch;
}

.button {
  cursor: pointer;
  background: #f2f2f2;
  padding: 12px 31.5px;
  text-decoration: none;
  border-radius: 100vmax;
  font-size: var(--fs-body);
  font-weight: 400;
}

.sedan .button {
  color: hsl( var(--clr-orange));
}

.suv .button {
  color: hsl( var(--clr-drk-cyan));
}

.luxury .button {
  color: hsl( var(--clr-xtr-drk-cyan));
}

.button:hover,
.button:focus-visible {
  outline: 2px solid hsl( var(--clr-white));
  color: #fff;
}

.sedan .button:hover {
  background: hsl( var(--clr-orange));
}

.suv .button:hover {
  background: hsl( var(--clr-drk-cyan));
}

.luxury .button:hover {
  background: hsl( var(--clr-xtr-drk-cyan));
}

@media (min-width: 48em) {
  .sedan {
    border-radius: .5rem 0 0 .5rem;
  }
  .luxury {
    border-radius: 0 .5rem .5rem 0;
  }
  .button {
    margin-top: 4em;
  }
}